body{
    font-family: tahoma;
    font-size: 24px;
}

div.box{
    border: 5px solid red;
    width: 600px;
    height: 600px;
    overflow: scroll;
    position:relative; /*for absolute*/
}

div.box img{
    position: absolute; /*relative, fixed*/
    left: 100px;
    top: 300px;
   /*width: 200px;*/
}